# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\HOUSE\Desktop\EPN\TERCER SEMESTRE\Primer bimestre\Programacion orientada a objetos\ejercicio 6 mejorado\ejercicio 6 m\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
